<a href="https://colab.research.google.com/github/firdafirfirda-cyber/KKASmt1/blob/main/1%20Fungsi_print_firda_hanifa_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("halo dunia")

halo dunia

In [ ]:
print("selamat datang di phython")

selamat datang di phython

In [ ]:
print('firda hanifa')

firda hanifa

# Menampilkan Teks Bebas

# Variabel

In [ ]:
BB = 50
print(BB)

50

In [ ]:
UMUR = 16
print(UMUR)

16

Latihan soal
1. tampilkan teks bebas : Hari ini saya bahagia belajar bahasa python
2. tampilkan nilai variabel : mata_pelajaran_favorit = kode dan kecerdasan buatan
3. tampilkan nilai variabel : nilai_kka = 100
4. tampilkan teks bebas dan nilai variabel dengan tiga metode (f string,"+",","):" Nilai KKA saya adalah {nilai_kka} loh!"

jawaban latihan soal

In [ ]:
print("hari ini saya bahagia belajar bahasa python")

hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit = "kode dan kecerdasan buatan"
print(mata_pelajaran_favorit)

kode dan kecerdasan buatan

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
print(f"Nilai KKA saya adalah {nilai_kka}loh!")

Nilai KKA saya adalah 100loh!

In [ ]:
print("Nilai KKA saya adalah " + str(nilai_kka) + " loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
print("Nilai KKA saya adalah ", nilai_kka, "loh")

# Escape Character

In [ ]:
print("Nama: firda hanifa")
print("kelas: XI.1")
print("Nomor absen: 16")

Nama: firda hanifa
kelas: XI.1
Nomor absen: 16

In [ ]:
print("Nama: firda hanifa\nKelas: XI.1\nNomor absen: 28")

Nama: firda hanifa
Kelas: XI.1
Nomor absen: 28

In [ ]:
print("""Nama: firda hanifa
kelas: XI.1
Nomor absen:16""")

Nama: firda hanifa
kelas: XI.1
Nomor absen:16

In [ ]:
print("Nama\t\t: firda hanifa\nKelas\t\t: XI.1\nNomor absen\t:16")

Nama		: firda hanifa
Kelas		: XI.1
Nomor absen	:16

# Menampilkan Teks Bebas dan Variabel

In [ ]:
print(f"Umur saya {UMUR} tahun")

Umur saya 16 tahun

In [ ]:
nama= "firda hanifa"
print("Halo " + nama)

Halo firda hanifa

In [ ]:
harga_telur=26000

print("Harga telur per 1 kg adalah ",harga_telur)

Harga telur per 1 kg adalah  26000

In [ ]:
harga_telur=26000

print("Harga telur per 1 kg adalah "+ str(harga_telur))

Harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli="Firda"

print("Nama pembeli telur adalah" + nama_pembeli)

Nama pembeli telur adalahFirda

#Paramater Fungsi print

In [ ]:
nama_siswa_1="Favian"

In [ ]:
Tahun = 2000
Bulan = "Februari"
Tanggal = 18

print(Tanggal, end=" ")
print(Bulan, end=" ")
print (Tahun)

18 Februari 2000

In [ ]:
Tahun = 2000
Bulan = "Februari"
Tanggal = 18

print(Tanggal, Bulan, Tahun, sep="/")

18/Februari/2000

Latihan

Tanggal Bulan Tahun

In [ ]:
Tahun = 2009
Bulan = "mei"
Tanggal = 15

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

15 mei 2009

In [ ]:
Tahun = 2009
Bulan = "mei"
Tanggal = 15

print(Tanggal, Bulan, Tahun, sep="/")

15/mei/2009

In [ ]:
Nama_depan = "Firda"
Nama_belakang = "Hanifa"

print(Nama_depan, end=" ")
print(Nama_belakang)

Firda Hanifa

In [ ]:
print('Bu Shinta berkata, "Berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing-masing di folder local disk D:\\Jadwal Pelajaran\\Kelas XI Semester 1." ')

print("\nJadwal Pelajaran Mingguan")
print("********************************************************")
print("Jam\tSenin\t\tSelasa\t\tRabu")
print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa Ing.\tSejarah\t\tMa'rifatullah")
print("Jam 3\tInformatika\tOlahraga\t")

Bu Shinta berkata, "Berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing-masing di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester 1."

Jadwal Pelajaran Mingguan
********************************************************
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ing.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga

# Tampilkan keluaran berupa:
# Naufal-Favian-Humaira-Favian
# Dengan paramater sep

In [ ]:
# Tampilan keluaran berupa:
# Naufal_Favian
# Humaira_Favian
# Dengan parameter end

In [ ]:
nama_siswa_1= "Naufal"
nama_siswa_2= "Favian"
nama_siswa_3= "Humaira"
nama_siswa_4= "Favian"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

Naufal~Favian~Humaira~Favian

In [ ]:
nama_siswa_1= "Naufal"
nama_siswa_2= "Favian"
nama_siswa_3= "Humaira"
nama_siswa_4= "Favian"

print(nama_siswa_1, end="~")
print(nama_siswa_2 )
print(nama_siswa_3, end="~")
print(nama_siswa_4)

Naufal~Favian
Humaira~Favian